@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .form-textbox {
    @apply block w-full px-4 py-2 mt-1 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500
  }

  .form-button {
    @apply w-full px-4 py-2 text-white bg-blue-600 rounded-md hover:bg-blue-700 focus:ring-2 focus:ring-blue-500 focus:outline-none
  }

  .form-button-disabled {
    @apply form-button opacity-50 cursor-not-allowed
  }

  .form-error-text {
    @apply p-4 text-red-700 bg-red-100 border border-red-400 rounded
  }

  .form-success-text {
    @apply p-4 text-green-700 bg-green-100 border border-green-400 rounded
  }

  .flashcard {
    @apply p-4 bg-white shadow-md rounded-lg text-center cursor-pointer
  }

  .flashcard-flipped {
    @apply bg-gray-200
  }

  .collection-card {
    @apply bg-white p-4 shadow-md rounded-lg cursor-pointer
  }

  .set-card {
    @apply bg-white p-4 shadow-md rounded-lg border-2 border-gray-300 hover:border-blue-500
  }

  .min-h-screen-nonav {
    @apply h-[calc(100vh-64px)]
  }
}