@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f3f4f6;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --testing: #6824c0;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .flex-between {
    @apply flex justify-between items-center
  }

  .text-30-extrabold {
    @apply text-[30px] font-extrabold text-white
  }

  .text-30-bold {
    @apply text-[30px] font-bold text-black
  }

  .text-30-semibold {
    @apply font-semibold text-[30px] text-black
  }

  .text-26-semibold {
    @apply font-semibold text-[26px] text-black
  }

  .text-24-black {
    @apply text-[24px] font-black text-black
  }

  .text-20-medium {
    @apply font-medium text-[20px] text-black
  }

  .text-16-medium {
    @apply font-medium text-[16px] text-black
  }

  .text-14-normal {
    @apply font-normal text-sm text-white-100/80
  }

  .no-results {
    @apply text-30-semibold text-black-100
  }

  .form-textbox {
    @apply block w-full px-4 py-2 mt-1 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500
  }

  .form-textbox-minimal {
    @apply block w-full px-4 py-2 mt-1 border-b-2 border-gray-300 outline-none focus:ring-primary focus:border-primary
  }

  .form-button {
    @apply px-4 py-2 text-white bg-primary rounded-md transition duration-100 hover:bg-primary-700 focus-visible:ring-2 focus-visible:ring-blue-500 focus:outline-none
  }

  .form-button-disabled {
    @apply form-button opacity-50 cursor-not-allowed
  }

  .form-button-danger {
    @apply px-4 py-2 text-white bg-red-600 rounded-md transition duration-100 hover:bg-red-700 focus-visible:ring-2 focus-visible:ring-red-500 focus:outline-none
  }

  .form-button-enable {
    @apply px-4 py-2 text-white bg-green-500 rounded-md transition duration-100 hover:bg-green-600 focus-visible:ring-2 focus-visible:ring-green-400 focus:outline-none
  }

  .form-button-disable {
    @apply px-4 py-2 text-white bg-red-500 rounded-md transition duration-100 hover:bg-red-600 focus-visible:ring-2 focus-visible:ring-red-400 focus:outline-none
  }

  .form-button-disable-round {
    @apply px-4 py-2 text-white bg-red-500 rounded-full transition duration-100 hover:bg-red-600 focus-visible:ring-2 focus-visible:ring-red-400 focus:outline-none
  }

  .form-error-text {
    @apply p-4 text-red-700 bg-red-100 border border-red-400 rounded
  }

  .form-success-text {
    @apply p-4 text-green-700 bg-green-100 border border-green-400 rounded
  }

  .gradient-element {
    @apply p-[3px] bg-gradient-to-r from-blue-500 via-purple-500 to-pink-500 rounded-lg
  }

  .gradient-divider {
    @apply p-[1.5px] bg-gradient-to-r from-blue-500 via-purple-500 to-pink-500 rounded-lg
  }

  .flashcard {
    @apply p-4 bg-white rounded-lg text-center cursor-pointer
  }

  .flashcard-flipped {
    @apply flashcard opacity-90
  }

  .collection-card {
    @apply bg-white p-4 shadow-md rounded-lg cursor-pointer
  }

  .set-card {
    @apply bg-white p-4 shadow-md rounded-lg border-2 border-gray-300 hover:border-blue-500
  }

  .min-h-screen-nonav {
    @apply h-[calc(100vh-60px)]
  }

  .section_container {
    @apply px-6 max-w-7xl mx-auto
  }

  .card_grid {
    @apply grid md:grid-cols-3 sm:grid-cols-2 gap-5
  }

  .card_grid-sm {
    @apply grid sm:grid-cols-2 gap-5
  }

  /* item_preview */
  .item_preview {
    @apply bg-white border-[3px] border-black py-6 px-5 rounded-[22px] shadow-200 hover:border-primary transition-all duration-500 hover:shadow-300 hover:bg-primary-100
  }

  .item_preview_select {
    @apply bg-white border-[3px] border-black py-6 px-5 rounded-[22px] shadow-200
  }

  .item_preview_selected {
    @apply bg-white border-[3px] border-primary shadow-300 bg-primary-100 py-6 px-5 rounded-[22px]
  }

  .item_preview_date {
    @apply font-medium text-[16px] bg-primary-100 px-4 py-2 rounded-full group-hover:bg-gray-100 transition-all duration-500
  }

  .item_preview_desc {
    @apply font-normal text-[16px] line-clamp-2 my-3 text-black-100 break-all
  }

  .item_preview_btn {
    @apply rounded-full bg-black-200 font-medium text-[16px] text-white px-5 py-3 !important
  }
}